body {
    background-color: whitesmoke ;
    margin: 0;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color : lightslategrey;
    border: 3px solid white;
    height: 600 px;
    width: 900 px;
}
/*
#countdown, 
#health {
    color: whitesmoke;
    width: 10vw;
    text-align: center;
    padding: 20px;
}
*/